<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Book Info and Reviews</title>
</head>
<body>
    <div class="col-sm-12">
        <a href="/books/logout">Logout</a>
        <a href="/books/add">Add new book with review</a>
        <a href="/books">Home</a>
    </div>
    <div class="col-sm-12">
        {%if books%}
            <h4>{{books.book_title}}</h4>
            <p>Author: {{books.author}}</p>
        {%endif%}
    </div>

    <div class="col-sm-6">
        <h4>Reviews</h4>
        {%for r in reviews%}
        <div class="panel panel-info">
            <p>Rating: {{r.rating}}</p>
            <p><a href="/books/users/{{r.users.id}}">{{r.users.alias}} </a>says: {{r.review}}</p>
            <p>Posted on: {{r.created_at.date}}</p>
            {%if r.users_id == session_id%}
                <a href="/books/delete_r/{{r.books.id}}/{{r.id}}">Delete this review</a>
            {%endif%}
        </div>
        {%endfor%}
    </div>

    <div class="col-sm-6">
        <h4>Add a review</h4>
        <form action="/books/add_r", method="POST">
            {% csrf_token %}
            <textarea rows="4" cols="50" name="add_review" id="add_review"></textarea><br>
            Rating: <select name="add_rating" id="add_rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br>
            <input type="hidden" name="add_book_id" value="{{books.id}}">
            <input type="submit" value="Submit">
        </form>
        {% if messages%}
        {%for message in messages%}
            <p>{{message}}</p>
        {%endfor%}
        {%endif%}
    </div>
</body>
</html>